@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --primary: #FFFFFF;
    --secondary: #FFFFFF;
    --surface: #FFFFFF;
    --accent: #FFFFFF;
    --active: #FFFFFF;
    --hover: #FFFFFF;
    --bg-primary: #000000;
    --bg-secondary: #000000;
    --bg-surface: #000000;
    --bg-accent: #000000;
    --bg-active: #000000;
    --bg-hover: #000000;

    --radius:5px;

    --border:rgba(0,0,0,.4);
    
    color-scheme: light;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #FFFFFF;
        --secondary: #FFFFFF;
        --surface: #FFFFFF;
        --accent: #FFFFFF;
        --active: #ffffff;
        --hover: #FFFFFF;
        --bg-primary: #000000;
        --bg-secondary: #150d0d;
        --bg-surface: #000000;
        --bg-accent: #002766;
        --bg-active: #3b3b3b;
        --bg-hover: #000000;

        --border:rgba(255,255,255,.4);
        color-scheme: dark;

    }
}

/* prefers reduced motion */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

img {
    object-fit: cover;
    object-position: center;
}

button {
    background-color: transparent;
    border: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

nav :where(ol, ul) {
    list-style: none;
}

/* img,
picture {
    width: 100%;
    max-width: 100%;
    display: block;
} */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}


button {
    cursor: pointer;
    font-size: var(--fs-sm);
    display: grid;
    place-items: center;
    border: none;
    background-color: hsl(var(--bkg));
    box-shadow: var(--shadow-md);
}


body {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg-primary);
    color: var(--secondary);
    font-size: 1rem;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

small {
    font-size: .8rem;
}

a,a:visited{
    text-decoration: none;
    font:inherit;
}